.calculator {
    width: 240px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    text-align: center;
  }
  
  .calculator input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .calculator .keypad button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 18px;
    background-color: gray;
    border: none;
    border-radius: 5px;
  }
  
  .calculator .keypad button:hover {
    background-color: wheat;
  }
  